# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
*.log

# Django
*.sqlite3
db.sqlite3
media/
staticfiles/
*.pot
*.pyc

# VS Code
.vscode/

# MacOS
.DS_Store

# Windows
Thumbs.db

# Environment folders (exclude venv)
!venv/
env/
ENV/
.venv/
venv.bak/
venv/